@model Cart
@{
    ViewData["Title"] = "Корзина";
}
@if (Model != null && Model.ItemsCart.Count > 0)
{
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Цена руб</td>
                    <td>Количество</td>
                    <td>Стоимость руб</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemCart in Model.ItemsCart)
                {
                    <tr>
                        <td>@itemCart.Prod.Name</td>
                        <td>@itemCart.Prod.Cost</td>
                        <td>@itemCart.Count</td>
                        <td>@itemCart.Total</td>
                        <td><a class="btn btn-dark" href="/cart/decreasecount?itemcartid=@itemCart.Id">-</a></td>
                        <td><a class="btn btn-dark" href="/cart/increasecount?itemcartid=@itemCart.Id">+</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <h3>Итого: @Model.Cost руб</h3>
        </div>
        <div class="text-center">
            <a class="btn btn-dark" href="/product/catalog">Продолжить покупки</a>
            <a class="btn btn-dark" href="/cart/ordering">Оформить заказ</a>
        </div>
    </div>
}
else
{
    <div class="col">
        <p>Корзина пуста</p>
    </div>
}